.car {
    background-color: rgb(121, 207, 204) !important;
     /* height: 20% !important */
    /* margin: auto !important; */
}
.car:hover{
    background-color: rgb(230, 106, 209) !important;
    transform: scale(1.05); 
    
}
.mycard{
    justify-content: space-between !important;

}

.editdel {
    display: inline !important;
}

.profilebg {
    background-image: url("https://t4.ftcdn.net/jpg/05/49/86/39/360_F_549863991_6yPKI08MG7JiZX83tMHlhDtd6XLFAMce.jpg");

}

.counter {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('https://images.unsplash.com/photo-1615457938971-3ab61c1c0d57?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

/* .plans{
    width: 100vw !important;
    height: fit-content !important;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('https://plus.unsplash.com/premium_photo-1673240367277-e1d394465b56?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') !important;
} */

/* @media only screen and (max-width: 600px) {
    .card{

        height: 800px !important;
        background-color: rgb(238, 44, 125) !important;
    }
} */

/* @media only screen and (min-width: 600px) {
    .card{
        height: 100px !important;
    }
}

@media only screen and (min-width: 768px) {
    .card{
        height: 120px !important;
    }
} */



.inputt {
    margin-left: 30% !important;
    margin-bottom: 10px !important;
    width: 50% !important;
    border-radius: 20px;

}

.contents{
    height: fit-content !important;
}
 .delete{
    float: right ;
} 
.edit {
    float: right !important;
    margin-right: 2px;
} 

.delete:hover{
    background-color: rgb(231, 40, 40) !important;
    transform: scale(1.01) !important;
}

.btnn{
    bottom: 0 !important;
}


.bt {
    margin: 5px;
    padding: 10px 20px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .bt.active {
    background-color: blue;
  }

  .data {
    display: flex;
    background-color: #edf1f3 !important;
    /* height:  fit-content !important ; */
    /* overflow: hidden; */
    padding: 10px;
}

.data > * {
    flex: 1 1 auto !important; /* Allow children to grow and shrink */
  }

.data .girl {
    bottom: 0px;
    overflow: hidden !important;
}

p {
    text-align: justify;
}

 .bt {
    position: relative;
    font-size: 1.5em;
    color: black;
    padding: 5px 30px;
    letter-spacing: 0.1em;
    background-color: #11867d;
    border: 2px solid black;
    text-decoration: none;
    
    z-index: 1;
    transition: 0.5s;
}

 .bt::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f0aba2;
    z-index: -1;
    transform-origin: left;
    transition: transform 0.5s ease;
    transform: scaleX(1);
}
.bt:hover {
    color: white !important;
}

 .bt:hover::before {
    transform-origin: right;
    transition: transform 0.5s ease;
    transform: scaleX(0);
}
/* 
 .shape {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
} */
  
 /* .shape:hover {
    width: 150px;
    height: 100px;
    border-radius: 0;
    color: rgb(253, 253, 32);
     
  }
   */

   .image-container {
    /* margin-top: 100px; */
    position: relative;
    margin-top: 100px;
    cursor: pointer;
    overflow: hidden;
   }

   .image {
    width: 100%;
    height: 30vh;
    transition: 0.3s ease;
    overflow: hidden;
   }

   .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    transition: 0.3s ease;
    opacity: 0;
   }

   .overflow h1 {
    color: white !important;
    font-size: 40px;
    /* text-align: center; */
    /* margin-top: 50px; */
   }

   .image-container:hover .image {
    transform: scale(1.1);
    /* opacity: 0.7; */
   }

   .image-container:hover .overlay {
    opacity: 1;
   }

   .card1 {
    background-color: #f8d94e !important;
   }

   .card2 {
    background-color: #3aedf3 !important;
   }
   
   .card3 {
    background-color: #fd64b0 !important;
   }
   
   .card4 {
    background-color: #5ef07e !important;
   }

    .card1:hover {
        /* color: rgb(164, 151, 211) !important; */
        box-shadow: 0 0 20px #b0be30;
    }
    .card2:hover {
        box-shadow: 0 0 20px  #20aaaf;
    }
    .card3:hover  {
        box-shadow: 0 0 20px  #9b0d9b;

    }
    .card4:hover {
        box-shadow: 0 0 20px  #33941a;

    }