.users {
    height: 100vh !important;
}

.explore:hover {
    background-color: #f8ad0c;
    color: white;
}

.card-custom {
    height: fit-content /* Fixed height for the card */
}


.table-container {
    height: 400px; /* Fixed height for the scrollable area */
    overflow-y: auto; /* Enable vertical scrolling */
}